strong {
    font-weight: 900;
    color:black;
}
em { 
    strong {
        font-weight: 900;
        color:black;
    }
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h3{
        color: black;
        font-size: 25px;
}